<footer class="site-footer">
	<section>
	{{ with .Site.Params.mail }}
	<a href="mailto:/{{ . }}"><ion-icon name="mail"></ion-icon></a>
	{{ end }}
	{{ with .Site.Params.twitter }}
	<a href="https://twitter.com/{{ . }}"><ion-icon name="logo-twitter"></ion-icon></a>
	{{ end }}
	{{ with .Site.Params.linkedin }}
	<a href="https://linkedin.com/in/{{ . }}"><ion-icon name="logo-linkedin"></ion-icon></a>
	{{ end }}
	{{ with .Site.Params.facebook }}
	<a href="https://www.facebook.com/{{ . }}"><ion-icon name="logo-facebook"></ion-icon></a></a>
	{{ end }}
	{{ with .Site.Params.rss }}
	<a href="/index.xml"><ion-icon name="logo-rss"></ion-icon></a></a>
	{{ end }}
	</section>

	{{ with .Site.Params.copyright }}
	<section class="copyright">{{ . | safeHTML }}</section>
	{{ end }}
</footer>
<!-- Renders Eva Icons -->
<script>
	eva.replace()
</script>
<!-- custom js -->
{{ range .Site.Params.customJS }}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}
