<header class="main-header">
	<div class="main-header-content">
		<h1 class="blog-title">
			<a href="{{ "/" | relLangURL }}">
				{{ if .Site.Params.logoTitle }}
					{{ .Site.Params.logoTitle | safeHTML }}
				{{ else }}
           {{ .Site.Title }}
				{{ end }}
			</a>
		</h1>
		<h2 class="blog-description">{{ .Site.Params.description }}</h2>
	</div>
	<div class="social-top">
		{{ with .Site.Params.mail }}
		<a href="mailto:/{{ . }}"><ion-icon name="mail"></ion-icon></a>
		{{ end }}
		{{ with .Site.Params.twitter }}
		<a href="https://twitter.com/{{ . }}"><ion-icon name="logo-twitter"></ion-icon></a>
		{{ end }}
		{{ with .Site.Params.linkedin }}
		<a href="https://linkedin.com/in/{{ . }}"><ion-icon name="logo-linkedin"></ion-icon></a>
		{{ end }}
		{{ with .Site.Params.facebook }}
		<a href="https://www.facebook.com/{{ . }}"><ion-icon name="logo-facebook"></ion-icon></a></a>
		{{ end }}
		{{ with .Site.Params.rss }}
		<a href="/index.xml"><ion-icon name="logo-rss"></ion-icon></a></a>
		{{ end }}
	</div>
	<div class="nav">
    {{ $currentPage := . }}
		{{ range .Site.Menus.main }}
      <a class="nav- {{ if $currentPage.IsMenuCurrent "main" . }}nav-current{{ end }}" role="presentation" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
	</div>


</header>
